/bin_code/*
!/bin_code/*.coe
!/bin_code/*.ml
!/bin_code/*.s

/vivado-project/cpu_main/*
!/vivado-project/cpu_main/cpu_main.srcs
/vivado-project/cpu_main/cpu_main.srcs/*
!/vivado-project/cpu_main/cpu_main.srcs/sources_1
/vivado-project/cpu_main/cpu_main.srcs/sources_1/*
!/vivado-project/cpu_main/cpu_main.srcs/sources_1/bd
/vivado-project/cpu_main/cpu_main.srcs/sources_1/bd/*
!/vivado-project/cpu_main/cpu_main.srcs/sources_1/bd/ver*
/vivado-project/cpu_main/cpu_main.srcs/sources_1/bd/ver*/*
!/vivado-project/cpu_main/cpu_main.srcs/sources_1/bd/ver*/hdl
/vivado-project/cpu_main/cpu_main.srcs/sources_1/bd/ver*/hdl/*
!/vivado-project/cpu_main/cpu_main.srcs/sources_1/bd/ver*/hdl/ver*_wrapper.v

/publish.sh
/vivado-project/cpu_main.tcl